<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.6/css/swiper.css">

<div id="listings" style="text-align: center;">
  <% if @unicorns.present? %>
    <ol>
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <%= render partial: 'unicorn', locals: {unicorns: @unicorns} %>
        </div>
      </div>
    </ol>
  <% else %>
    <h5>Sorry no unicorns left</h5>
  <% end %>
</div>